**/aws/**
analytics/__pycache__/**
terraform/.terraform/**
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/solution.plan
terraform/main.tf
terraform/terraform.tfvars
terraform/variables.tf
